/* 
formatting
parallex képek
*/

/* - - - - RESET CSS - - - - */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

:root {
    --superfly-yellowis: #c6a445;
    --white: #fff;
}

@font-face {
    font-family: "DINPro_Black";
    src: url("assets/fonts/DINPro-Black_13933.ttf") format("truetype");
}

@font-face {
    font-family: "DINPro_Bold";
    src: url("assets/fonts/DINPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "DINPro_Medium";
    src: url("assets/fonts/DINPro-Medium.otf") format("opentype");
}

@font-face {
    font-family: "DINPro_Light";
    src: url("assets/fonts/DINPro-Light.otf") format("opentype");
}

body {
    background-color: #000;
}

/* - - - - - - - TOP SECTION - - - - - - - */

.opening-section-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
}

.opening-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    height: 80%;

    background-color: brown;
}

.side-images {
    height: 100%;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: yellowgreen;
}

.side-images.left>.top-image-container:first-child {
    background: url('/assets/img/GlassDrink.svg') center center no-repeat;
    transform: rotate(340deg);
}

.side-images.left>.top-image-container:last-child {
    background: url('/assets/img/Dougnot.svg') center center no-repeat;
    transform: rotate(20deg);
}

.side-images.right>.top-image-container:first-child {
    background: url('/assets/img/FastDrink.svg') center center no-repeat;
    transform: rotate(20deg);
}

.side-images.right>.top-image-container:last-child {
    background: url('/assets/img/IceCream.svg') center center no-repeat;
}

.side-images.left>.top-image-container,
.side-images.right>.top-image-container {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain !important;
}

.center-images {
    height: 100%;
    width: 282px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: green;
}

/* - - - - - - - MENU SECTION - - - - - - - */

.products-containers-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    max-width: 1300px;
    margin: 0 auto;
    padding: 80px;

}

.hotdrinks-main-container,
.softdrinks-main-container,
.foods-main-container,
.colds-main-container {
    position: relative;
}

.foods-main-container {
    grid-row-start: 1;
    grid-column-start: 2;
}

.hotdrinks-main-container::before {
    background: url(/assets/img/CoffeCup.svg) center center no-repeat;
}

.softdrinks-main-container::before {
    background: url(/assets/img/GlassDrink.svg) center center no-repeat;
    transform: rotate(20deg);
}

.foods-main-container::before {
    background: url(/assets/img/Pizza.svg) center center no-repeat;
}

.colds-main-container::before {
    background: url(/assets/img/IceCream.svg) center center no-repeat;
}

.hotdrinks-main-container::before,
.softdrinks-main-container::before,
.foods-main-container::before,
.colds-main-container::before {
    content: "";

    position: absolute;
    top: -25px;
    right: -40px;

    width: 100px;
    height: 100px;

    background-size: contain;
}

.hotdrinks-container,
.softdrinks-container,
.foods-container,
.colds-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    color: blue;
}

.product-category-title {
    margin: 10px 0 40px;

    font-family: DINPro_Black, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--superfly-yellowis);
}

.product-name,
.product-price {
    padding: 8px 0 8px 20px;

    font-family: DINPro_Bold, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    color: var(--white);
}

.product-name>span,
.product-price>span {
    font-family: DINPro_Light, Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.vertical-border,
.horizontal-border {
    position: absolute;
    opacity: 0.9;
}

.vertical-border {
    width: 75%;
    height: 0;
    border-bottom: 4px dotted var(--white);

    left: 50%;
    top: 55%;
    transform: translateX(-50%);
}

.horizontal-border {
    height: 75%;
    width: 0;
    border-right: 4px dotted var(--white);

    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.fix-border {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    background-color: red;
}

.corner {
    position: absolute;
    margin: 30px;
}

.top-left {
    top: 0;
    left: 0;
    background-image: url("");
}

.top-right {
    top: 0;
    right: 0;
    background-image: url(assets/img/CornerTopRight.svg);
}

.top-left {
    top: 0;
    left: 0;
    background-image: url("");
}

.top-left {
    top: 0;
    left: 0;
    background-image: url("");
}

/* - - - - - - - RESPONSIVITY SETUP - - - - - - - */

@media screen and (max-width: 997px) {
    .products-containers-wrapper {
        display: block;
        width: clamp(250px, 75%, 800px);
    }

    .product-category-title {
        margin: 40px 0;
    }

    .vertical-border,
    .horizontal-border {
        display: none;
    }
}