/* 
formatting
parallex képek
*/

/* - - - - RESET CSS - - - - */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

:root {
    --superfly-yellowis: #c6a445;
    --white: #fff;
}

@font-face {
    font-family: "DINPro_Black";
    src: url("assets/fonts/DINPro-Black_13933.ttf") format("truetype");
}

@font-face {
    font-family: "DINPro_Bold";
    src: url("assets/fonts/DINPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "DINPro_Medium";
    src: url("assets/fonts/DINPro-Medium.otf") format("opentype");
}

@font-face {
    font-family: "DINPro_Light";
    src: url("assets/fonts/DINPro-Light.otf") format("opentype");
}

body {
    background-color: #000;
}

::-webkit-scrollbar {
    display: none;
}

/* - - - - - - - FIXED BORDER - - - - - - - */


.fix-border {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 5;
}

.corner {
    position: absolute;
    width: 70px;
    aspect-ratio: 1/1;

    margin: 10px;

    background-size: contain !important;

    filter: drop-shadow(0 0 5px black);
}

.top-left {
    top: 0;
    left: 0;
    background: url('assets/img/CornerTopLeft.svg') center center no-repeat;
}

.top-right {
    top: 0;
    right: 0;
    background: url('assets/img/CornerTopRight.svg') center center no-repeat;
}

.bottom-left {
    bottom: 0;
    left: 0;
    background: url('assets/img/CornerBottomLeft.svg') center center no-repeat;
}

.bottom-right {
    bottom: 0;
    right: 0;
    background: url('assets/img/CornerBottomRight.svg') center center no-repeat;
}

.language-selector-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, .75);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .75);
}

.language-selector {
    font-family: DINPro_Light, Arial, Helvetica, sans-serif;
    font-size: 0.9rem;

    color: var(--white);

    cursor: pointer;

    transition-delay: .1s;
    transition-duration: .3s;
}

.language-selector:hover {
    color: var(--superfly-yellowis);
}

.language-selector::before {
    content: '';

    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin: 2px auto;

    background-color: rgba(255, 255, 255, .2);
}

.active {
    font-family: DINPro_Bold, Arial, Helvetica, sans-serif;
}

.language-selector.active::before {
    background-color: var(--superfly-yellowis);
}

/* - - - - - - - TOP SECTION - - - - - - - */

.opening-section-wrapper {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
}

.opening-section-wrapper::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.opening-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 77%;
    max-width: 1200px;
    height: 80%;
}

.side-images {
    height: 100%;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 6% 0;
}

.side-images.left>.top-image-container:first-child {
    position: relative;
    background: url('/assets/img/GlassDrink_rotated.svg') center center no-repeat;
}

.side-images.left>.top-image-container:last-child {
    position: relative;
    background: url('/assets/img/Dougnot_rotated.svg') center center no-repeat;
}

.side-images.right>.top-image-container:first-child {
    position: relative;
    background: url('/assets/img/FastDrink_rotated.svg') center center no-repeat;
}

.side-images.right>.top-image-container:last-child {
    position: relative;
    background: url('/assets/img/IceCream.svg') center center no-repeat;
}

.side-images.left>.top-image-container,
.side-images.right>.top-image-container {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain !important;
}

.center-images {
    height: 100%;
    width: 282px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pizza-container,
.menu-image-container,
.logo-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain !important;
}

.pizza-container {
    width: 60%;
    background: url('/assets/img/Pizza_group.svg') center center no-repeat;
}

.menu-image-container {
    background: url('/assets/img/Menu_group.svg') center center no-repeat;
}

.logo-container {
    width: 45%;
    background: url('/assets/img/Logo.svg') center center no-repeat;
}

/* - - - - - - - MENU SECTION - - - - - - - */

.products-containers-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    max-width: 1300px;
    margin: 0 auto;
    padding: 80px;

    background-color: #000;
}

.hotdrinks-main-container,
.softdrinks-main-container,
.foods-main-container,
.colds-main-container {
    position: relative;
}

.foods-main-container {
    grid-row-start: 1;
    grid-column-start: 2;
}

.hotdrinks-main-container::before {
    background: url(/assets/img/CoffeCup.svg) center center no-repeat;
}

.softdrinks-main-container::before {
    background: url(/assets/img/GlassDrink.svg) center center no-repeat;
    transform: rotate(20deg);
}

.foods-main-container::before {
    background: url(/assets/img/Pizza.svg) center center no-repeat;
}

.colds-main-container::before {
    background: url(/assets/img/IceCream.svg) center center no-repeat;
}

.hotdrinks-main-container::before,
.softdrinks-main-container::before,
.foods-main-container::before,
.colds-main-container::before {
    content: "";

    position: absolute;
    top: -25px;
    right: -40px;

    width: 100px;
    height: 100px;

    background-size: contain;
}

.hotdrinks-container,
.softdrinks-container,
.foods-container,
.colds-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-category-title {
    margin: 10px 0 40px;

    font-family: DINPro_Black, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--superfly-yellowis);
}

.product-name,
.product-price {
    padding: 8px 0 8px 20px;

    font-family: DINPro_Bold, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    color: var(--white);
}

.product-price {
    min-width: 74px;
}

.product-name>span,
.product-price>span {
    font-family: DINPro_Light, Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.vertical-border,
.horizontal-border {
    position: absolute;
    opacity: 0.9;
}

.vertical-border {
    width: 75%;
    height: 0;
    border-bottom: 4px dotted var(--white);

    left: 50%;
    top: 55%;
    transform: translateX(-50%);
}

.horizontal-border {
    height: 75%;
    width: 0;
    border-right: 4px dotted var(--white);

    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* - - - - - - - RESPONSIVITY SETUP - - - - - - - */

@media screen and (max-width: 997px) {
    .products-containers-wrapper {
        display: block;
        width: clamp(250px, 90%, 800px);
    }

    .product-category-title {
        margin: 40px 0;
    }

    .vertical-border,
    .horizontal-border {
        display: none;
    }

    .hotdrinks-main-container::after,
    .softdrinks-main-container::after,
    .foods-main-container::after,
    .colds-main-container::after {
        content: "";
        display: block;
        width: 70%;
        height: 30px;
        margin: 0 auto;
        border-bottom: 4px dotted var(--white);
    }
}

@media screen and (max-width: 704px) {
    .products-containers-wrapper {
        padding: 40px 0;
    }

    .corner {
        width: 50px;
    }
}

@media screen and (max-width: 491px) {
    .product-category-title {
        margin: 40px 0 15px;

        font-size: 1.75rem;
    }

    .product-name,
    .product-price {
        font-size: .9rem;
        padding: 5px 0 5px 12px;
    }

    .product-name>span,
    .product-price>span {
        font-size: .75rem;
    }

    .hotdrinks-main-container::before,
    .softdrinks-main-container::before,
    .foods-main-container::before,
    .colds-main-container::before {
        top: -10px;
        right: -5px;

        width: 60px;
        height: 60px;
    }

    .corner {
        width: 40px;
    }
}